KT1/Meat Freshness.v1-new-dataset.multiclass/
KT1/trained_model.h5
KT2/16. Market.v6i.coco/
KT2/maketv6i/
KT2/maketv6imodeloutput/
KT2/pretrained_dataset/
Practice_19_04/pose_hrnet_w32_256x192.pth
Practice_19_04/simple-HRNet/

